<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="booksystem.dao.PunishDao">
    <insert id="addPunish">
        insert into punish(punish_id,username,bar_code,update_time,`status`,is_handle,detail,money)
        values(MD5(UUID()),#{username},#{bar_code},now(),#{status},#{is_handle},#{detail},#{money})
    </insert>

    <update id="updatePunish">
        update punish set update_time=now(),status=#{status},is_handle=#{is_handle},detail=#{detail},money=#{money}
        where punish_id=#{punish_id}
    </update>

    <delete id="deletePunish">
        delete from punish where punish_id=#{punish_id}
    </delete>

    <select id="getPunishById" resultType="Map">
        select * from punish where punish_id=#{punish_id}
    </select>


    <select id="adminFuzzyQuery" resultType="java.util.HashMap">
        SELECT * FROM punish where 1=1
        <choose>
            <when test="queryWhat==1">
                and username like #{content}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <choose>
            <when test="queryWhat==2">
                and bar_code in (select bar_code from bookitem where reference_num in
                (select reference_num from book where book_name like #{content}))
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <choose>
            <when test="queryWhat==3">
                and bar_code in (select bar_code from bookitem where reference_num in
                (select reference_num from book where isbn like #{content}))
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by FIELD(`is_handle`,0,1),update_time DESC
        limit #{start},#{each_num}
    </select>

    <select id="adminFuzzyQueryCount" resultType="int">
        SELECT count(*) FROM punish where 1=1
        <choose>
            <when test="queryWhat==1">
                and username like #{content}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <choose>
            <when test="queryWhat==2">
                and bar_code in (select bar_code from bookitem where reference_num in
                (select reference_num from book where book_name like #{content}))
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <choose>
            <when test="queryWhat==3">
                and bar_code in (select bar_code from bookitem where reference_num in
                (select reference_num from book where isbn like #{content}))
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="adminQuery" resultType="java.util.HashMap">
        SELECT * FROM punish where 1=1
        order by FIELD(`is_handle`,0,1),update_time DESC
        limit #{start},#{each_num}
    </select>

    <select id="adminQueryCount" resultType="int">
        SELECT count(*) FROM punish where 1=1
    </select>

    <select id="userQuery" resultType="java.util.HashMap">
        SELECT * FROM punish,bookitem,book where username=#{username} and punish.bar_code=bookitem.bar_code and bookitem.reference_num=book.reference_num
        order by FIELD(`is_handle`,0,1),punish.update_time DESC
        limit #{start},#{each_num}
    </select>

    <select id="userQueryCount" resultType="int">
        SELECT count(*) FROM punish,bookitem,book where username=#{username} and punish.bar_code=bookitem.bar_code and bookitem.reference_num=book.reference_num
    </select>


</mapper>